<!-- <p class="asianCuisine">
    <ul>
        <li><a href="../ariSushi.ejs"> Ari Sushi</a></li>
        <li><a href="../papaThai.ejs"> Papa Thai</a></li>
        <li><a href="../shanghaiWok.ejs"> Shanghai Wok</li>
        <li><a href="/views/twoSticks.ejs"> Two Sticks </a></li>
    </ul>
</p> -->