<header> 
    <ul> 
        <li><a href="/asian">Asian Cuisine</a></li>
        <li><a href="/indian">Indian Cuisine</a></li>
        <li><a href="italian">Italian Cuisine</a></li>  
        <li><a href="/mediterranean">Mediterranean Cuisine</a></li>  
    </ul>
</header>