<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAD Dashers</title>
</head>
<body>

    <h1>Welcome to WAD DASHERS</h1>
    <h2> Please select one of the cuisines below </h2>
    <%- include('./partials/header.ejs') %>
</body>
<%- include('./partials/footer.ejs') %>
</html>